appnope
argon2-cffi
async-generator==1.10
attrs
backcall
backports.functools-lru-cache==1.6.1
bleach
branca
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
click==7.1.2
click-plugins==1.1.1
cligj
coverage
cryptography
decorator==4.4.2
defusedxml==0.6.0
entrypoints
Fiona==1.8.18
folium
GDAL==3.1.4
geographiclib==1.50
geopandas
geopy
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipython-genutils==0.2.0
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
MarkupSafe
mistune
more-itertools
munch==2.5.0
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas==1.2.1
pandocfilters==1.4.2
parso
pexpect
pickleshare
pluggy
prometheus-client
prompt-toolkit
ptyprocess
py
pycparser
Pygments
pyOpenSSL
pyparsing==2.4.7
pyproj
pyrsistent
PySocks
pytest==6.2.2
pytest-cov
python-dateutil==2.8.1
pytz
pyzmq==20.0.0
requests
Rtree
Send2Trash==1.5.0
Shapely
six
terminado
testpath==0.4.4
toml
tornado
traitlets
urllib3
wcwidth
webencodings==0.5.1
zipp
